<div class="event">
    <div class="lt-corporate posi-rel">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="lt-box-bg posi-abs posi-center">
                        <div class="lt-border-white"></div>
                        <div class="lt-cp-ev posi-rel">
                            <h4>Corporate Events</h4>
                            <div class="horizontal-line line-white posi-abs hidden-xs  hidden-sm  hidden-md" id="hl3"></div>
                            <p> To negotiate a business deal right, you need the right venue. 18.99 Latitude offers you the space and sophistication complements any corporate event. Whether it’s a press conference, product launch or training program, we can
                                accommodate it. </p>
                            <p>
                                Paired with a tailor-made multi cuisine menu and state of the art A/V Equipment (available on request) there’s no chance your event will be short of successful. And if that isn’t enough, Smaaash, leading virtual reality entertainers, seamlessly mix work
                                and play to ensure your team building never gets boring.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lt-oth-ev">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="container">
                      <div class="posi-abs lt-eve">
                        <div class="lt-box-white">
                            <div class="lt-border-gold posi-rel"></div>
                            <div class="lt-evs">
                                <h4>Other Events</h4>
                                <div class="horizontal-line line-gold posi-abs hidden-xs  hidden-sm  hidden-md" id="hl4"></div>
                                <p>Not hosting a wedding or a corporate event? Don’t worry. Our infrastructure is sophisticated enough to handle any other event you need. </p>
                                <p>Our acoustically treated venue with state of the art A/V equipment is well suited for music shows and entertainment events. On the other hand, our centrally located ample parking space makes it ideal for any and all trade exhibitions.
                                    Just remember, your wish is our command. </p>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
                    <div class="lt-right-img posi-abs">
                        <img src="img/other-event.jpg" alt="18.99" class="img-responsive">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
