<div class="gallery padding-tp55">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 posi-rel" auto-height>
        <div class="lt-gal-title posi-abs posi-center">
          <div class="no-mask">
          <div class="lt-bg-gal bg-mask2 text-center">
              <h1>gallery</h1>
            </div>
            <p> Coming Soon </p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div auto-height class="lt-gal-box posi-rel div-sizn">
          <div class="horizontal-line line-gold posi-abs" id="hl1"></div>
          <div class="horizontal-line line-gold posi-abs" id="hl2"></div>
          <div class="vertical-line line-gold posi-abs" id="vl1"></div>
          <div class="vertical-line line-gold posi-abs" id="vl2"></div>
          <div class="top-right posi-abs">
            <img src="img/g1.jpg" alt="18.99" class="img-siz">
            </div>
          <div class="bottom-left posi-abs">
            <img src="img/g2.jpg" alt="18.99" class="img-siz">
          </div>
          <div class="center-img posi-abs">
            <img src="img/g3.jpg" alt="18.99" class="img-siz">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
