<div class="why-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="lt-right-img">
          <img src="img/lt-flower.jpg" alt="18.99" class="img-responsive">
        </div>

      </div>
      <div class="col-md-6">
        <div class="lt-right-dt">
          <div class="lt-bg-wh bg-mask2">
            <h4>Why Us</h4>

          </div>
          <div class="lt-dt-pr">
            <ul>
              <li>
                Centrally Located In Lower Parel
              </li>
              <li>
              20,000 Sq. Ft. Hall (Pillar Less)
              </li>
              <li>
              Smaller Venues Available
              </li>
              <li>
              Acoustically Treated Hall 
              </li>
              <li>
              Flexible Timings for All Events
              </li>
              <li>
            100% Power Back Up
              </li>
              <li>
              2 GB Complimentary Wi-Fi (Higher Bandwidth Available)
 Full-Fledged Brewery 
              </li>
              <li>
              The Smaaash Experience (Available On Request)
              </li>
              <li>
              Five High Speed Public Lifts & One Powerful 12 Tonne
              </li>
              <li>
            Service Elevator
              </li>
              <li>
                Ample Parking Space for All Vehicles Including Buses and
   Trucks (Valet Parking Available On Request)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
