<div class="gallery padding-tp55">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 posi-rel full-height galimg-ht">
                <div class="lt-gal-title posi-abs posi-center">
                    <div class="no-mask">
                        <div class="lt-bg-gal text-center">
                            <h1 class=" bg-mask2">gallery</h1>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="posi-rel full-height">
                    <div>
                        <a fancybox-box class="fancybox" rel="gallery1" href="{{img.image}}" title="" ng-repeat="img in galleryImages">
                            <img src="img/gallery.jpg" alt="gallery" class="img-responsive posi-abs posi-center" ng-click="$ctrl.open('lg')">
                        </a>
                    </div>

                </div>
                <div class="enq-btn">
                    <button ui-sref="form" type="button" class="btn btn-default enquiry">Enquiry</button>
                </div>
            </div>

        </div>
    </div>
</div>