<div class="gallery">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="lt gal-title">
          <div class="lt-bg-gal">
            <h4>gallery</h4>
          </div>

        </div>
      </div>
      <div class="col-md-8">
        <div class="lt-gal-box">
          <div class="top-right">
            <img src="img/g1.jpg" alt="18.99">
          </div>
          <div class="bottom-left">
            <img src="img/g2.jpg" alt="18.99">
          </div>
          <div class="center-img">
            <img src="img/g3.jpg" alt="18.99">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
