<div class="wedding padd-bt-tp30">


    <div class="text-center">
        <div class="lt-bg-text">
            <h1 class="bg-mask2">What We Host</h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 padd-lf0">
                <div class="lt-left-img">
                    <img src="img/wedding.jpg" alt="18.99" class="img-responsive">
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="wed-mobpad">
                <div class="row">
                  <div class="col-md-offset-1 col-md-10">
                      <div class="lt-right-text">
                          <div class="lt-title-top font-raleway posi-rel">
                            <div class="horizontal-line line-gold posi-abs hidden-xs  hidden-sm  hidden-md" id="hl5"></div>
                              <h4>weddings</h4>
                          </div>
                          <div class="lt-border-line"></div>
                          <div class="lr-data-common font-proxi text-justify">
                              <p>At 18.99 Latitude, your larger than life celebrations have the perfect home. The union of two people is one of the most special moments in one’s life and we can cater to your every wedding need. Every event from weddings to
                                  sangeet can be arranged. </p>
                              <p>
                                  Our multi cuisine menu is created by leaders of fine dining, Trupti Caterers, Mumbai. With state of the art kitchens, and a separate Jain Kitchen, your religious sentiments are respected. For your wedding décor, sky’s the limit. Our exclusive tie-up with
                                  Sher Management allows you to dream big and celebrate bigger. </p>
                              <p>
                                  For that extra touch, there are separate bride and groom shower facilities and vanity vans which are available on request. Also, our special areas for barat processions allow you to celebrate it all – Band, Baja and Barat.
                              </p>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
