<div class="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="lt-left-dt bg-mask2">
                    <div class="h4">contact us</div>
                </div>
                <span><i class="fa fa-map-marker"></i>Kamla mills Compound, Gate No. 4, Lower Parel, Mumbai</span>
                <form action="" class="form-inline">
                    <div class="lt-contact-form">
                        <div class="form-group">

                            <div class="lt-icon">
                                <i class="fa fa-user"></i>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="lt-icon">
                                <i class="fa fa-envelope"></i>
                                <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="lt-icon">
                            <i class="fa fa-volume-control-phone"></i>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Phone">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="lt-icon">
                            <i class="fa fa-comment"></i>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Comment">
                        </div>
                    </div>
            </div>
            </form>

        <div class="col-md-6">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3772.3582223812664!2d72.8251367649001!3d19.003930287129347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce9336543a23%3A0xe6d1a843d2e064c!2sKamala+Mills+Compound%2C+Lower+Parel%2C+Mumbai%2C+Maharashtra+400013!5e0!3m2!1sen!2sin!4v1473763853524"
                    width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
                </div>
    </div>
</div>
</div>
<div ng-include="template.footer" class="template footer"></div>
