<div class="why-us posi-rel full-height">
  <div class="container-fluid">
    <div class="posi-abs posi-center full-width">
    <div class="row">
      <div class="col-md-6 padd-lf0">
        <div class="lt-right-img">
          <img src="img/whyus.jpg" alt="18.99" class="img-responsive">
        </div>

      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="col-md-offset-1 col-md-10">
          <div class="lt-right-dt">
            <div class="lt-bg-wh">
              <h1 class=" bg-mask2">Why Us</h1>

            </div>
            <div class="lt-dt-pr">
              <ul>
                <li><span>
                  Centrally Located In Lower Parel
                </span></li>
                <li><span>
                20,000 Sq. Ft. Hall (Pillar Less)
              </span></li>
                <li><span>
                Smaller Venues Available
              </span></li>
                <li><span>
                Acoustically Treated Hall 
              </span></li>
                <li><span>
                Flexible Timings for All Events
              </span></li>
              <li><span>
                Gujrati Delicacies from our In-House Brand Dadi Ma No Vaarso
              </span></li>
              <li><span>
                Elaborate and Separate Jain Kitchen
          </span></li>
                <li><span>
              100% Power Back Up
            </span></li>
            <li><span>
              High Speed WiFi upto 20Mbps
            </span></li>
                <li><span>
                The Smaaash Experience Available On Request
              </span></li>
                <li><span>
                Five High Speed Public Lifts & One Powerful 12 Tonne Elevator Service
              </span></li>
                <li><span>
                  Ample Parking Space for All Vehicles Including Buses and Trucks (Valet Parking Available On Request)
           </span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
