<header>
    <div class="posi-rel">
        <div class="">
            <div class="bg-slider" auto-height auto-height class="img-responsive"></div>
            <div class="lt-head">
                <div class="lt-title  posi-abs">
                    <div class="title-pad">
                        <p class="bg-mask1 ft-wt800 marg-bt5">A</p>
                        <a href="http://smaaash.in/" target="_blank"><img src="img/smaaash-logo.png" alt="" class="img-reponsive"></a>
                        <p class="bg-mask1 ft-wt800">Entity</p>
                        <div class="enq-btn">
                            <button ui-sref="form" type="button" class="btn btn-default enquiry">Enquiry</button>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="cont-fl-det">
                        <div class="row">
                            <div class="text-center">
                                <div class="lt-logo">
                                    <img src="img/Logo.png" alt="Event">
                                </div>
                                <div class="lt-count">
                                    <ul class="list-inline">
                                        <li class="">
                                            <div class="lt-num disp-blk">
                                                <div class="head-lt disp-inblk">
                                                    <h1 class="bg-mask2">SOBO'S Largest Venue </h1>
                                                </div>
                                                <div class="head-rt disp-inblk">
                                                    <p class="bg-mask2"> Pillarless <br>20,000 SQ.FT</p>
                                                </div>
                                                <img src="img/landing-frame.png" alt="" class="img-responsive">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-list posi-abs">
                    <ul class="nav-list list-unstyled">
                        <li>
                            <a ng-click="changePage('event')">
                  Conference
                  </a>
                        </li>
                        <li>
                            <a ng-click="changePage('host')">
                  Weddings
                  </a>
                        </li>
                        <li>
                            <a ng-click="changePage('event')">
                    events
                    </a>
                            <li>
                                <a ng-click="changePage('about')">
                  about us
                  </a>
                                <li>
                                    <a ng-click="changePage('gallery')">
                  gallery
                  </a>
                                </li>

                            </li>
                            <li>
                                <a ng-click="changePage('contact')">
                  contact us
                  </a>
                            </li>
                    </ul>
                    <div class="lt-social">
                        <ul class="list-inline scl-col">
                            <li>
                                <a href="https://www.facebook.com/1899-Latitude-Banquets-301695066854785/?fref=ts" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <!-- <li>
                              <a href="">
                                  <i class="fa fa-twitter"></i>
                              </a>
                          </li>
                          <li>
                              <a href="">
                                  <i class="fa fa-instagram"></i>
                              </a>
                          </li> -->
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>