<div class="wedding">
  <div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="wedding-text">
        <h3>wedding event</h3>
      </div>
      <div class="wedding-detail">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
      </div>
    </div>
    <div class="col-md-8">
      <div class="wedding-image">
        <img src="img/wedding-table.png" class="img-responsive" alt="wedding-image">
      </div>
    </div>
  </div>
  </div>
</div>
