<header>
    <div class="posi-rel">
        <div class="">
            <div class="bg-slider" auto-height auto-height class="img-responsive"></div>
            <div class="lt-head">
                <div class="lt-title text-center posi-abs">
                    <span class="bg-mask1 ft-wt800">A Smaaash Entity</span>
                </div>

                <div class="container cont-fl-det">
                    <div class="row">
                        <div class="text-center">
                            <div class="lt-logo">
                                <img src="img/logo.png" alt="Event">
                            </div>
                            <div class="lt-count">
                                <ul class="list-inline">
                                    <li  class="bg-mask1">
                                        <div class="lt-num">
                                            <h2>20,000</h2>
                                            <span>Sqft of total<br>
  event space</span>
                                        </div>
                                    </li>
                                    <li  class="bg-mask1">
                                        <div class="lt-num">
                                            <h2>1,500 </h2>
                                            <span>Capacity of the <br>
  event space</span>
                                        </div>
                                    </li>
                                    <li  class="bg-mask1">
                                        <div class="lt-num">
                                            <h2>1,500+ </h2>
                                            <span>indian<br>
  delicacies</span>
                                        </div>
                                    </li>
                                    <li  class="bg-mask1">
                                        <div class="lt-num">
                                            <h2>2,500 </h2>
                                            <span>sqft Separate Jain<br>
  maharaja kitchen</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
