<div class="video padding-tp40 padd-bt0">
  <div class="lf-video">
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/Z3W6bxf6mpQ?rel=0&amp;showinfo=0;" frameborder="0" allowfullscreen></iframe>
    <!-- <div class="text-center">
      <img src="img/play.png" alt="" class="posi-abs img-pos">
      <p class="posi-abs posi-center">Coming Soon</p>
    </div> -->
    <div class="enq-btn">
      <button ui-sref="form" type="button" class="btn btn-default enquiry">Enquiry</button>
    </div>
  </div>
</div>
