@media (max-width:1200px) {
    .padd-tp70 {
        .img-style {
            padding: 15px;
        }
    }

    .lt-header-menu {
        .lt-mini-logo {
            img {
                margin: 0 auto;
            }
        }
    }

    .head-lt {
        h1 {
            font-size: 28px;
        }
    }

    .event {
        .lt-eve {
            top: 360px;
            width: 50%;
            left: 200px;
        }

        .lt-right-img {
            top: 300px;
        }
    }

    .about {
        padding-top: 50px;

        .abt-width {
            padding-left: 30px;
        }

        .full-height {
            height: 100vh;

            .img {
                width: 50%;
                height: 50%;
            }
        }

        h1 {
            font-size: 60px;
        }
    }

    .contact,
    .gallery,
    .wedding,
    .why-us {
        h1 {
            font-size: 60px;
        }
    }
}
//
@media (max-width:$screen-sm-max) {
    .navbar {
        min-height: 50px;
    }

    .form-style #frm1 {
        margin: 10px 0;
    }

    .form-control {
        padding: 3px 6px;
        font-size: 10px;
        line-height: 1;
    }

    .mob-btn {
        padding: 0 3px;
        font-size: 10px;
        width: 60px;
    }

    .navbar-brand > img {
        height: 35px;
    }

    .navbar-nav {
        display: block;
        width: 100%;

        .navbar {
            min-height: 80px;
        }
    }

    .gallery {
        .galimg-ht {
            height: 40vh;
        }

        .col-md-8 {
            .full-height {
                height: 60vh;
            }
        }
    }

    .lt-header-menu {
        .lt-mini-logo {
            img {
                margin: 0 auto;
            }
        }
    }

    .frm-det {
        ul {
            padding: 20px;

            li {
                line-height: 1;
                padding: 0;
            }
        }
    }

    .event {
        .lt-box-bg {
            top: 240px;
        }

        .lt-right-img {
            top: 400px;
        }

        .lt-eve {
            width: 100%;
            left: 30px;
            top: 490px;
            padding: 0 40px;
        }
    }

    .contact {
        h1 {
            font-size: 30px;
        }

        .map {
            height: 40vh;
        }
    }

    .map-padd {
        margin-bottom: 3px;
        font-size: 12px;
        line-height: 1;
    }

    .about {
        .abt-width {
            width: 80%;
        }

        .full-height {
            height: 50vh;

            img {
                height: 100%;
            }
        }
    }

    footer {
        p {
            font-size: 10px;
        }
    }

    .lt-header-menu .hd-ft-menu li {
        padding-left: 0;
    }

    .form-weddingdetail p {
        font-size: 14px;
    }

    .frm-img img {
        width: 100px;
    }
}
//
@media (max-width:$screen-xs-max) {
    h1,
    h2,
    h3,
    h4,
    p {
        line-height: 100%;
    }
    // .lt-count {
    //     .bg-mask1 {
    //         -webkit-text-fill-color: inherit;
    //         background: none;
    //         color: #DEC988;
    //         // background: #DEC988;
    //         // .head-st {
    //         //     color: #DEC988;
    //         //     font-size: 24px;
    //         // }
    //     }
    // }
    // .bg-mask2 {
    //     -webkit-text-fill-color: inherit;
    //     background: none;
    //     color: #DEC988;
    //     // background: #DEC988;
    //     h1 {
    //         color: #DEC988;
    //     }
    // }
    .navbar-brand {
        padding: 6px 15px;
    }

    .navbar-default {
        .navbar-nav {
            width: 100%;
            margin: 0;
        }
    }

    .menu-list {
        display: none;
    }

    .lt-title {
        p {
            font-size: 12px;
        }

        img {
            width: 70px;
            height: auto;
        }
    }

    .navbar-collapse {
        ul.list-inline.pull-right.scl-col {
            float: none!important;
            text-align: center;

            li {
                margin-top: 0;
                padding: 0 0 0 10px;
            }
        }
    }

    .gallery .col-md-8 .full-height {
        height: 50vh;

        img {
            height: 100%;
        }
    }

    .lt-header-menu {
        .lt-mini-logo {
            img {
                margin: 0 auto;
            }
        }
    }

    .cont-fl-det {
        width: 80%;
    }

    .lt-num {
        h1 {
            font-size: 20px;
        }

        span {
            font-size: 14px;
        }
    }

    .lt-logo {
        img {
            height: 150px;
            width: auto;
        }
    }

    .about,
    .contact,
    .event,
    .gallery,
    .wedding,
    .why-us {
        h1 {
            font-size: 36px;
            margin: 5px 0;
        }

        h4 {
            font-size: 18px;
        }

        p {
            font-size: 12px;
        }
    }

    .padd-bt-tp30 {
        padding: 45px 0 0;
    }

    .about {
        .abt-width {
            top: 45%;
        }
    }

    .frm-det {
        ul {
            padding: 20px;

            li {
                line-height: 1;
                padding: 0;
            }
        }
    }

    .form-imgbox{
      background: none;
    }
    .formbox-imgholder{
      margin: 15px 0;
    }
    .frm-cont .cnt1 {
    font-size: 16px;
  }
  .form-weddingdetail{
    margin: 10px 5px;
    p{
      font-size: 12px;
    }
  }
  .frm-cont{
    margin: 20px 0;
  }
  .form-footer{
    .seperater{
      display: none;
    }
    .footer-tel{
      display: block;
      margin-top: 5px;
    }
  }
}
//
@media (max-width:540px) {
    .lt-header-menu {
        .lt-mini-logo {
            img {
                margin: 0 auto;
            }
        }
    }

    .frm-det {
        ul {
            padding: 10px;

            li {
                line-height: 1;
                padding: 2px 0;
            }
        }
    }
    .form-footer p {
        font-size: 11px;
    }
}
//
@media (max-width:480px) {
    .lt-header-menu {
        .lt-mini-logo {
            img {
                margin: 0 auto;
            }
        }
    }

    .about {
        .abt-width {
            padding-left: 0;
        }
    }

    .padd-bt-tp30 {
        padding: 50px 0 0;
    }

    .event {
        .lt-box-bg {
            width: 100%;
            top: 210px;
        }

        .lt-eve {
            top: 380px;
            left: 0;
        }
    }

    .gallery .col-md-8 .full-height img {
        height: auto;
    }

    .wedding {
        .lt-right-text {
            padding: 10px 0;
        }

        h4 {
            margin: 0 0 5px;
        }

        .p {
            font-size: 12px;
        }

        .lr-data-common p {
            margin: 0 0 10px;
        }
    }

    .contact {
        .cnt-padd {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .mob-marg {
        margin-top: 40px;

        .padding-tp40 {
            padding-top: 5px;
        }

        .map-padd {
            margin-bottom: 0;
            padding-left: 5px;
        }
    }

    .contact {
        .mob-marg {
            margin-top: 30px;
        }
    }

    .map {
        .form-style {
            margin: 0 5px;
        }

        .form-group {
            margin-bottom: 5px;
        }
    }

    .padd-lf0 {
        padding-right: 0;
    }

    footer {
        .top50 {
            margin-top: 10px;

            .ft-tin {
                margin-top: 5px;
            }

            .ft-sma {
                margin-top: 5px;
            }
        }
    }

    .form-footer p {
        font-size: 11px;
    }

    .frm-det ul {
        padding: 10px;
    }
}
//
@media (max-width:360px) {
    .about,
    .contact,
    .event,
    .gallery,
    .wedding,
    .why-us {
        h1 {
            font-size: 20px;
            margin-bottom: 0;
        }

        h4 {
            font-size: 18px;
            line-height: 1;
        }

        p {
            font-size: 12px;
            line-height: 1;
        }

        span {
            font-size: 12px;
        }
    }

    footer {
        p {
            font-size: 8px;
        }
    }

    .lt-num {
        h2 {
            font-size: 12px;
        }

        span {
            font-size: 10px;
        }
    }

    .wedding {
        .wed-mobpad {
            padding: 5px;
        }
    }

    .why-us {
        ul {
            padding-left: 20px;
            line-height: 1;

            li {
                padding-left: 5px;
            }
        }
    }

    .event {
        .lt-eve {
            top: 370px;
        }
    }

    .contact {
        .marker320 {
            i {
                font-size: 18px;
            }
        }

        input {
            height: 24px;
            padding: 0 3px;
            line-height: 1;
            font-size: 12px;
        }

        .form-style {
            .sub-btn {
                padding: 3px 6px;
                line-height: 1;
                font-size: 12px;
            }

            textarea {
                height: 24px;
            }

            #frm1 {
                margin: 10px 0;
            }
        }

        .map-padd {
            margin-bottom: 10px;
        }

        .mob-marg {
            margin-top: 25px;

            .padding-tp40 {
                padding-top: 0;
            }
        }
    }
}
//
