@import 'https://fonts.googleapis.com/css?family=Raleway:400,500,600,700';
@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #dfc988 !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger: #fc483f !default;
$brand-info: #4f0c03 !default;
$white: #ffffff !default;
$brand-gold: #dec988 !default;
$font-family-sans-serif: "Proxima Nova", "Raleway", sans-serif !default;
$font-family-serif: "Proxima Nova", "Raleway", Times, serif !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@font-face {
    font-family: "Proxima Nova";
    src: url("../fonts/ProximaNova-Light.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Gotham";
    src: url("../fonts/GOTHAM-BLACK.OTF");
    font-weight: 300;
}
/* mixing*/
@mixin placeholder {
    $placeholders: ":-webkit-input" ":-moz" "-moz" "-ms-input";
    @each $placeholder in $placeholders {
        &:#{$placeholder}-placeholder {
            @content;
        }
    }
}
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}
@mixin x-appearance ($value) {
    -webkit-appearance: $value;
    -moz-appearance: $value;
    appearance: $value;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    @include transition(all 300ms ease);
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

.btn,
[ui-sref],
a {
    cursor: pointer;
    @include transition(all ease 300ms);
}
//bootstrap forms

.btn,
.form-control,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.input-lg {
    border-radius: 0;
    @include box-shadow(none);
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
.font-raleway {
    font-family: 'Raleway';
}

.font-gotham {
    font-family: 'Gotham';
}

.font-proxi {
    font-family: 'proxima nova';
}

.font-light {
    font-weight: 300;
}

.font-bold {
    font-weight: 700;
}

.color-base {
    color: $brand-info;
}

.color-primary {
    color-primary: $brand-primary;
}

.color-white {
    color: $white;
}

.lt-list {
    ul {
        list-style: none;
        display: block;

        li {
            display: inline-block;
        }
    }
}

.padding0 {
    padding: 0;
}

.padd-bt0 {
    padding-bottom: 0;
}

.margin {
    margin: 0;
}

.width100 {
    width: 100px;
}
//SagarM CSS Starts HERe

p {
    font-size: 15px;
}

footer {
    background-color: $brand-gold;
    color: $brand-info;
    height: 60px;

    a {
        color: $brand-info;
        text-decoration: none;

        &:hover {
            color: $brand-info;
            text-decoration: none;
        }
    }

    p {
        font-size: 12px;
    }
}

.padding40 {
    padding: 40px;
}

.padding-tp40 {
    padding-top: 40px;
}

.margin40 {
    margin: 40px;
}

.top50 {
    margin-top: 22px;
}

.wedding {
    .lt-right-text {
        padding: 15px 0;
    }

    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
    }

    .bg-mask2 {
        background-position: 180px 0;
    }
}

.why-us {
    .row {
        margin: 36px 0;
    }

    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
    }

    ul {
        li {
            color: $brand-info;
        }
    }

    .bg-mask2 {
        background-position: 366px 0;
    }
}

.gallery {
    h1 {
        font-size: 100px;
        text-transform: capitalize;
    }

    .bg-mask2 {
        background-position: 490px 0;
    }

    .posi-center {
        top: 35%;
        left: 80%;
    }

    p {
        background-clip: none;
        color: $brand-info;
        font-size: 24px;
        text-align: center;
        font-weight: 600;
    }
}

.about {
    h1 {
        font-size: 100px;
    }

    .bg-mask2 {
        background-position: 490px 0;
    }

    p {
        color: $brand-info;
    }

    img {
        height: 100vh;
    }

    .abt-marg {
        margin-right: 120px;
    }

    .abt-width {
        width: 100%;
    }
}

.event {
    h1 {
        font-size: 100px;
    }

    h4 {
        font-size: 30px;
        color: $brand-info !important;
    }

    p {
        color: $brand-info !important;
    }
    text-align: justify;

    .lt-eve {
        top: 360px;
        width: 50%;
        left: 270px;
    }

    .lt-box-bg {
        z-index: 999;
        top: 155px;
    }

    .lt-right-img {
        z-index: 100;
        top: 170px;
    }
}

.contact {
    h1 {
        font-size: 100px;
        text-transform: capitalize;
    }

    h4 {
        font-size: 30px;
    }

    .bg-mask2 {
        background-position: 490px 0;
    }
}

.scl-col {
    li {
        padding: 10px 0 0;
    }

    i {
        color: #450A04;
        border: 1px solid white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        padding: 6px;
        text-align: center;
        background-color: white;
        opacity: 0.3;
    }
}

.bg-slider {
    background: url('../img/header.jpg') center no-repeat;
    background-size: cover;
    background-position: center center;
}

.lt-header-menu {
    background-color: #530A03;
    width: 100%;

    .main-menu {
        text-align: center;
        margin: 22px 0 0;
    }

    .lt-mini-logo {
        padding: 5px 0;
    }

    ul {
        margin-top: 10px;
        padding: 2px 0;
    }
}

.lt-title {
    top: 20px;
    left: 50%;
    text-align: center;
    @include transform(translate(-50%,-50%));
}

.lt-title-top {
    color: $brand-info !important;
    text-transform: capitalize;
    font-weight: 400;
}

.lr-data-common {
    color: $brand-info;

    p {
        margin: 0 0 15px;
    }
}

.cont-fl-det {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}

.padd-bt-tp30 {
    padding: 104px 0 0 30px;
}

.padding-tp55 {
    padding-top: 55px;
}

.lt-head {
    top: 0;
    text-align: center;
}

.lt-logo {
    top: 50;
    left: 50;
}

.ft-wt800 {
    font-weight: 800;
}

.posi-abs {
    position: absolute;
}

.posi-rel {
    position: relative;
}

.posi-center {
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
}

.bg-mask1 {
    -webkit-text-fill-color: transparent;
    @include background(linear-gradient(transparent, transparent), url("../img/mask.jpg") repeat);
    background-clip: text;
    -webkit-background-clip: text;
}

.bg-mask2 {
    -webkit-text-fill-color: transparent;
    @include background(linear-gradient(transparent, transparent), url("../img/mask.jpg") repeat);
    background-clip: text;
    -webkit-background-clip: text;
}

.lt-count {
    .list-inline {
        margin-top: 30px;
    }
}

.lt-num {
    h2 {
        font: 36px;
        margin-top: 20px;
        margin-bottom: 0;
    }

    span {
        text-transform: uppercase;
        line-height: 1;
    }
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}

.fp-viewing-0 {
    .header {
        position: fixed;
        top: calc(100% - 0px);
    }
}

.main-menu {
    margin-bottom: 20px;
}

.lt-header-menu {
    .hd-ft-menu {
        vertical-align: text-bottom;

        li {
            padding-left: 20px;
        }
    }
}

.lt-dt-pr {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        padding-left: 16px;
    }

    li:before {
        content: "•";
        padding-right: 8px;
        color: $brand-gold;
    }
}

.hd-ft-menu {
    vertical-align: middle;

    li {
        a {
            color: $white;
            text-decoration: none;
            font-weight: 700;

            &:hover {
                color: $white;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

.lt-box-bg {
    background-color: #DEC988;
    //margin: 0px 30% 0px 0px;
    padding: 6% 6% 3% 12%;
    text-align: justify;
    width: 65%;
}

.form-style {
    color: $brand-info !important;
    margin: 20px;

    span {
        font-weight: bold;

        i {
            font-size: 24px;
        }
    }

    .form-group {
        border-bottom: 1px solid $brand-primary;
        display: block;
    }

    i {
        display: inline;
    }

    input {
        color: $brand-info;
        display: inline-block;
        background: transparent;
        border: none;
        box-decoration-break: none;
        box-shadow: none;
        padding-bottom: 0;

        &::-webkit-input-placeholder {
            color: $brand-info;
            font-size: 14px;
        }

        &:-moz-placeholder {
            color: $brand-info;
            font-size: 14px;
        }

        &::-moz-placeholder {
            color: $brand-info;
            font-size: 14px;
        }

        &:-ms-input-placeholder {
            color: $brand-info;
            font-size: 14px;
        }
    }
}

.top-right {
    top: 0;
    right: 0;
    z-index: 0;
}

.bottom-left {
    top: 88px;
    right: 280px;
    z-index: 100;
}

.center-img {
    top: 165px;
    right: 80px;
    z-index: 150;
}

.div-sizn {
    min-height: 500px;
    padding: 20px;
    margin: 50px 30px;
}

.img-siz {
    max-width: 440px;
    height: auto;
}

.map-padd {
    margin-bottom: 20px;
    padding-left: 5px;
}

.lf-video {
    .vid-img {
        opacity: 1;
        width: 100%;
        height: auto;
    }

    .img-pos {
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%));
    }

    p {
        font-size: 24px;
        text-align: center;
        color: white;
        top: 70%;
        font-weight: 600;
    }
}

.horizontal-line {
    width: 200px;
    height: 4px;
}

.vertical-line {
    height: 200px;
    width: 4px;
}

.line-gold {
    background-color: $brand-gold;
}

.line-white {
    background-color: $white;
}
//gallery page lines

#hl1 {
    left: 570px;
    top: -4px;
    width: 230px;
}

#hl2 {
    top: 381px;
    left: 40px;
    width: 225px;
}

#vl1 {
    top: -24px;
    left: 785px;
    height: 236px;
}

#vl2 {
    top: 225px;
    left: 61px;
    height: 230px;
}
//about page lines

#vl3 {
    top: 200px;
    right: 66px;
    height: 325px;
}
//corporate events

#hl3 {
    top: 20px;
    left: -140px;
    width: 130px;
}
//other events

#hl4 {
    top: 27px;
    left: -270px;
    width: 260px;
}
//wedding

#hl5 {
    top: 24px;
    left: 160px;
    width: 436px;
}

.sub-btn {
    border-color: $brand-info;
    background-color: transparent;
    color: $brand-info;
    float: right;
    width: 110px;
    font-size: 16px;
}

.ic-color {
    color: $brand-gold;
}

.input-group-addon {
    background: none;
    border: none;
}

.map {
    height: calc(100vh - 140px);
}

.thankyou {
    text-align: center;
    color: #DEC95E;
}
//FORM starts HERe

.padd-tp70 {
    padding-top: 70px;

    .img-style {
        padding-left: 0;
    }
}

.frm-head {
    margin: 30px 0;

    h3 {
        color: $brand-info;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        line-height: 0.5;
        letter-spacing: 2px;
    }

    p {
        color: #000000;
        text-align: center;
        text-transform: uppercase;
    }
}

.frm-img {
    img {
        width: 130px;
        height: auto;
        margin: 0 auto;
    }
}

.frm-occasion {
    margin: 30px 0;

    .btn-spcn {
        text-align: center;

        .btn-stylez {
            border-radius: 5px;
            background: $brand-info;
            color: white;
            text-transform: uppercase;
            padding: 6px 30px;
            letter-spacing: 1px;
            margin: 20px 0;
        }
    }

    .form-group {
        border: 1px solid $brand-info;
        border-radius: 5px;

        input {
            border: none;
            background: transparent;
            text-decoration: none;
            color: $brand-info;
            //placeholder-color change
            &::-webkit-input-placeholder {
                color: $brand-info;
                font-size: 14px;
            }

            &:-moz-placeholder {
                color: $brand-info;
                font-size: 14px;
            }

            &::-moz-placeholder {
                color: $brand-info;
                font-size: 14px;
            }

            &:-ms-input-placeholder {
                color: $brand-info;
                font-size: 14px;
            }
        }
    }
}

.frm-cont {
    margin: 30px 0;

    p {
        color: $brand-info;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin: 2px;
        line-height: 1;
    }

    .cnt1 {
        font-size: 18px;
        letter-spacing: 1px;
    }
}

.frm-det {
    margin: 40px;

    p {
        color: $brand-info;
        text-align: justify;
        font-size: 15px;
    }
}

.line-info {
    background-color: $brand-info;
}

#fhl1 {
    bottom: -4px;
    left: 190px;
    width: 463px;
}

#fvl1 {
    bottom: -30px;
    right: 11px;
}
// #ic1 {
//     top: 195px;
//     left: 80px;
// }
//
// #ic2 {
//     top: 245px;
//     left: 80px;
// }
//
// #ic3 {
//     top: 295px;
//     left: 80px;
// }
//
// #ic4 {
//     top: 343px;
//     left: 80px;
// }
@import "main2";
@import "fancybox-override";
