@import "../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
@import "../bower_components/flexslider/flexslider.css";
@import "../bower_components/font-awesome/css/font-awesome.min.css";
@import "../bower_components/fancyBox/source/jquery.fancybox.css";
@import "../bower_components/swiper/dist/css/swiper.min.css";
@import "../bower_components/smart-app-banner/smart-app-banner.css";
/* Bootstrap Variables Goes Here */
$brand-primary: #0d9dff !default;
$brand-success: #84ce3c !default;
$brand-warning: #ffec39 !default;
$brand-danger:  #fc483f !default;
$brand-info:    #000072 !default;
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
img.loading {
  text-align: center;
  opacity: 1;
  width: 32px !important;
  height: auto;
}
img {
  opacity: 0;
  @include transition(all 300ms ease);
}
img.doneLoading {
  opacity: 1;
}
nav li:hover .dropdown-menu {
  display: block;
}
#map img {
  opacity: 1;
}
a, .btn,[ui-sref] {
  cursor: pointer;
  @include transition(all ease 300ms);
}
//bootstrap forms
.input-lg,
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn,
.btn,
.form-control {
  border-radius: 0;
  @include box-shadow(none);
}
.form-control:focus {
  border-color: $brand-primary;
  outline: 0;
  @include box-shadow(none);
}
//bootstrap forms
/* Start writing sass here */
.navbar-default{
  background-color: #4f0c03;
  li{
    a{
      color: #231f20;
    }
  }
}

.features{
  a{
    display: block;
    font-size: 20px;
    span{
      display: block;
      text-align: center;
      font-size: 12px;
    }
    &:hover{
      text-decoration: none;
    }
  }
}

.navigation{
  padding: 40px 0 20px;
  li{
    margin: 0 5px;
    a{
      color: #fff;
      display: inline-block;
      transition: all .9s ease-in-out;
      &:hover{
        text-decoration: none;
        transform: scale(1.3);
      }
    }
  }
}

.logo-center{
  padding: 98px 0 30px;
  a{
    display: block;
      margin: 0 auto;
      height: 200px;
      width: 200px;
      text-align: center;
    img{
      width: 50%;
    margin: 0 auto;
    }
  }

}



@import "fancybox-override";
