<section class="padd-tp70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 img-style posi-rel">
                <div class="horizontal-line line-info posi-abs" id="fhl1"></div>
                <div class="vertical-line line-info posi-abs" id="fvl1"></div>
                <img src="img/lt-img.png" alt="18.99" class="img-responsive">
            </div>
            <div class="col-md-6">
                <div class="frm-head font-gotham">
                    <h3>your occasion,</h3>
                    <h3>our destination.</h3>
                    <p>introducing</p>
                </div>
                <div class="frm-img">
                    <img src="img/logo-form.png" alt="18.99" class="img-responsive">
                </div>
                <div class="frm-occasion">
                    <form name="contactUsForm" ng-submit="submitForm(formData)" class="form">
                        <div class="lt-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="lt-icon input-group">
                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                        <input type="text" ng-model="formData.name" name="name" class="form-control disp-ib" id="exampleInputEmail3" placeholder="Name" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="lt-icon input-group">
                                        <div class="input-group-addon"><i class="fa fa-volume-control-phone" aria-hidden="true"></i></div>
                                        <input type="number" min="10" max="12" ng-model="formData.phone" name="phone" class="form-control" id="exampleInputEmail3" placeholder="Phone" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="lt-icon input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="email" ng-model="formData.email" name="email" class="form-control disp-ib" id="exampleInputEmail3" placeholder="Email" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="lt-icon input-group">
                                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                        <input type="text-box" ng-model="formData.comment" name="occasion" class="form-control disp-ib" id="exampleInputEmail3" placeholder="Occasion" required>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-spcn">
                                <button type="submit" class="btn btn-stylez">Submit</button>
                            </div>
                        </div>
                        <div class="col-md-12 thankyou" ng-show="flags.thankyou">
                            <h2>Thank you for getting in touch!</h2>
                        </div>
                    </form>
                </div>
                <div class="frm-cont">
                    <p class="cnt1">pillarless 20,000 sq. ft</p>
                    <p>canvas for all your events,<br> exhibitions and celebrations.</p>
                </div>
            </div>
        </div>
        <div class="frm-det">
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>
                            <p>Centrally Located In Lower Parel</p>
                        </li>
                        <li>
                            <p>20,000 Sq. Ft. Hall (Pillar Less)</p>
                        </li>
                        <li>
                            <p>Smaller Venues Available</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>
                            <p>Acoustically Treated Hall</p>
                        </li>
                        <li>
                            <p>Flexible Timings for All Events</p>
                        </li>
                        <li>
                            <p>100% Power Back Up</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>
                            <p>2 GB Complimentary Wi-Fi (Higher Bandwidth Available)</p>
                        </li>
                        <li>
                            <p>Full-Fledged Brewery</p>
                        </li>
                        <li>
                            <p>The Smaaash Experience (Available On Request)</p>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled">
                        <li>
                            <p>Five High Speed Public Lifts & One Powerful 12 Tonne Service Elevator</p>
                        </li>
                        <li>
                            <p>Ample Parking Space for All Vehicles Including Buses and Trucks (Valet Parking Available On Request)</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
